*.class

# Package files #
*.jar
*.war
*.ear

# Virtual machine crash logs #
hs_err_pid*

# Windows image files cache
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini

#Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# pdf files
*.pdf